In [ ]:
'''
Comprehendion list:-List comprehensions are used for creating new lists from other iterable sequences.

'''

In [1]:
li=[1,2,3,4]
new_list=[]
for ele in li:
    new_list.append(ele**2)

new_list

[1, 4, 9, 16]

In [7]:
new_list_com=[ele**3 for ele in li]
new_list_com

[1, 8, 27, 64]

In [9]:
''' Find square element only for even element '''
li=[1,2,3,4,5,6]
square_li =[ele*2 for ele in li if ele%2==0]
square_li

[4, 8, 12]

In [17]:
'''Find element that one multiple of 2 as well as multiple of 3 '''
# 1 approach
li=[1,2,3,4,5,6,7,8,9]
new_li=[]
for ele in li:
    if ele%2==0 and ele%3==0:
        new_li.append(ele)
print(new_li)

[6]

In [19]:
''' Coprehension list with multiple condition'''
# 2 approach
new_li_2=[ele for ele in li if ele%2==0 if ele%3==0]
new_li_2

[6]

In [47]:
''' Coprehension list with multiple loop'''
# find intersection of list element
li_1=[1,2,3,4,5,6]
li_2=[2,4,6,7]
li_inter=[ele for ele in li_1 for ele2 in li_2 if ele == ele2]
li_inter

[2, 4, 6]

In [45]:
'''Normal method'''
# find intersection of list element
li_1=[1,2,3,4,5,6]
li_2=[2,4,6,7]
li_inter_2=[]
for ele in li_1:
    for ele1 in li_2:
        if ele == ele1:
            li_inter_2.append(ele)

li_inter_2

[2, 4, 6]

In [63]:
''' if element multiple of 2 then squared  other wise levea as a it'''
li=[1,2,3,4,5,6]
new_li=[ele**2 if ele%2==0 else ele for ele in li]
new_li

[1, 4, 3, 16, 5, 36]

In [65]:
s="anju"
li=[ele for ele in s]
li

['a', 'n', 'j', 'u']

In [79]:
li=['anju','awanish','timothy']
li_2d=[[s for s in ele] for ele in li]
li_2d

[['a', 'n', 'j', 'u'],
 ['a', 'w', 'a', 'n', 'i', 's', 'h'],
 ['t', 'i', 'm', 'o', 't', 'h', 'y']]

In [131]:
li=['anju','awanish','timothy']
li_2=[]
for ele in li:
    li_2.append([s for s in ele])
    
li_2

[['a', 'n', 'j', 'u'],
 ['a', 'w', 'a', 'n', 'i', 's', 'h'],
 ['t', 'i', 'm', 'o', 't', 'h', 'y']]

In [133]:
li = [[ i*j for j in range(4)] for i in range(3)]
print(li)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [189]:
str=input().split()
n,m=int(str[0]), int(str[1])
li=[[int(j) for j in input().split()] for i in range(n)]

 2 3
 2 3 4
 23 4 5

In [191]:
li

[[2, 3, 4], [23, 4, 5]]

In [213]:
n=int(input())
li=[[int(j) for j in input().split()] for i in range(n)]

 2
 1 2 3
 2 34 5

In [215]:
li

[[1, 2, 3], [2, 34, 5]]

In [229]:
s= input().split()

 3 4 5

In [231]:
s[0]

'3'

In [233]:
s

['3', '4', '5']

In [223]:
s[2]

'3'

In [245]:
str=input().split()
n,m=int(str[0]),int(str[1])
b=input().split()
li=[[int(b[m*i+j]) for j in range(m)] for i in range(n)]
li

 2 3
 1 2 3 4 5 6

[[1, 2, 3], [4, 5, 6]]

In [249]:
str= input().split()
n,m,b=int(str[0]),int(str[1]),str[2:]
li=[[int(b[m*i+j]) for j in range(m)] for i in range(n)]

 2 3 1 2 3 4 5 6

In [251]:
li

[[1, 2, 3], [4, 5, 6]]

In [255]:
''' Print 2D list '''
li=[[1,2,3,4],[5,7,6,8],[9,3,5,2]]
n=3
m=4
for i in range(n):
    for j in range(m):
        print(li[i][j],end=" ")
    print()

1 2 3 4
5 7 6 8
9 3 5 2

In [263]:
''' Print 2D list for jagged list '''
li=[[1,2,3],[5,8],[7,9,2]]
for row in li:
    for ele in row:
        print(ele,end=" ")

    print()

1 2 3
5 8
7 9 2

In [1]:
li=[[1,2,3],[5,8],[7,9,2]]
for row in li:
    output=' '.join([str(ele) for ele in row])
    print(output)

1 2 3
5 8
7 9 2

In [17]:
li=[[1,2,3],[5,9],[7,9,2]]
for row in li:
    print(' '.join(map(str,row)))

1 2 3
5 9
7 9 2

In [19]:
def lar_col_sum(li):
    n=len(lis)
    m=len(li[0])
    max_sum=0
    max_index=-1
    for j in range(m):
        sum=0
        for i in range(n):
            sum+=li[i][j]
        if sum > max_sum:
                max_col_index=j
                max_sum=sum
    return max_sum,max_col_index

lis=[[1,2,3,4],[18,17,16,15],[9,10,11,7]]
lar_sum,lar_col_index= lar_col_sum(lis)
print(lar_sum, lar_col_index)

30 2

In [25]:
def lar_col_sum_2(li):
    m=len(li[0])
    max_sum=-1
    max_col_index=-1
    for j in range(m):
        sum=0
        for ele in li:
            sum+=ele[j]
            if sum > max_sum:
                max_col_index=j
                max_sum=sum
    return max_sum,max_col_index            
                
lis=[[1,2,3,4],[18,17,16,15],[9,10,11,27]]
lar_sum,lar_col_index= lar_col_sum(lis)
print(lar_sum, lar_col_index)

46 3

In [45]:
''' For a given two-dimensional integer array/list of size (N x M), find and print the sum of each of the row elements in a single line,
separated by a single space.'''

def rowWiseSum(mat, nRows, mCols):
    for i in mat:
        sum=0
        for ele in i:
            sum+=ele
        print(sum,end=" ")
  
rowWiseSum([[1,2,3,4],[18,17,16,15],[9,10,11,27]], 3, 4)

10 66 57

In [43]:
li=[[1,2,3,4],[18,17,16,15],[9,10,11,27]]
for i in li:
    sum=0
    for j in i:
        sum+=j
    print(sum,end=" ")

10 66 57

In [49]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for j in range(4):
    for ele in li:
        print(ele[j],end =" ")

1 5 9 2 6 10 3 7 11 4 8 12

In [89]:
'''
You are given a 2D list (array) with dimensions N rows and M columns, filled with integers. Your task is to find the row or column that has the
largest sum of its elements.
'''

def findLargest(arr, nRows, mCols):
    max_sum=-2147483648
    max_index=0
    is_row=True
    is_col=True
    for row in arr:
        sum=0
        for ele in row:
            sum+=ele
        if sum>max_sum:
            max_sum=sum
            max_index=arr.index(row)
            is_col=False
            
    for col in range(mCols):
        sum=0
        for ele in arr:
            sum+=ele[col]
        if sum>max_sum:
            max_sum=sum
            max_index=col
            is_row=False

    if is_row:
        print("row",max_index,max_sum)
    else:
        print("column",max_index,max_sum)
            


findLargest([[1,2,3,4],[18,17,16,15],[9,10,11,27]], 3, 4)

row 1 66

In [77]:
li=[2,3,4,5]
li.index(3)

1

In [177]:
'''
For a given two-dimensional integer array/list of size (N x M), print the array/list in a sine wave order, i.e, print the first
column left to right, next column left to right and so on.
'''
def wavePrint(mat, nRows, mCols):
    for i in range(nRows):
        if i%2==0:
            for j in range(mCols):
                print(mat[i][j],end=" ")
        else:
            for j in range(mCols-1,-1,-1):
                print(mat[i][j],end=" ")
            
           
                
            
wavePrint([[1,2,3,4],[18,17,16,15],[9,10,11,27],[2,3,5,6]], 4, 4)

1 2 3 4 15 16 17 18 9 10 11 27 6 5 3 2

In [117]:
li=[1,2,3,4]
print(li[::-1])

[4, 3, 2, 1]

In [209]:
'''
For a given two-dimensional integer array/list of size (N x M), print the array/list in a sine wave order, i.e, print the first
column top to bottom, next column bottom to top and so on.
'''
def wavePrint(mat, nRows, mCols):
    for i in range(mCols):
        if i%2==0:
            for j in range(nRows):
                print(mat[j][i],end=" ")
        else:
            for j in range(nRows-1,-1,-1):
                print(mat[j][i],end=" ")

wavePrint([[1,2,3,4],[18,17,16,15],[9,10,11,27],[2,3,5,6]], 4, 4)

1 18 9 2 3 10 17 2 3 16 11 5 6 27 15 4

In [ ]:
1,2,3,4
18,17,16,15
9,10,11,27
2,3,5,6

In [430]:
def spiralPrint(mat, nRows, mCols):
    top = 0
    bottom = nRows - 1
    left = 0
    right = mCols - 1
    count = 0
    total = nRows * mCols  # Total number of elements

    while count < total:
        # Traverse from left to right
        for i in range(left, right + 1):
            if count < total:
                print(mat[top][i], end=" ")
                count += 1
        top += 1  # Move down

        # Traverse from top to bottom
        for i in range(top, bottom + 1):
            if count < total:
                print(mat[i][right], end=" ")
                count += 1
        right -= 1  # Move left

        # Traverse from right to left (if still within bounds)
        for i in range(right, left - 1, -1):
            if count < total:
                print(mat[bottom][i], end=" ")
                count += 1
        bottom -= 1  # Move up

        # Traverse from bottom to top (if still within bounds)
        for i in range(bottom, top - 1, -1):
            if count < total:
                print(mat[i][left], end=" ")
                count += 1
        left += 1  # Move right

# Example Usage
spiralPrint([[1, 2, 3],[18, 17, 16],[9, 10, 11]], 3, 3)

1 2 3 16 11 10 9 18 17

In [338]:
1,2,3,4
18,17,16,15
9,10,11,27
2,3,5,6

(2, 3, 5, 6)

In [432]:
from sys import stdin

def spiralPrint(mat, nRows, mCols):
    n=nRows*mCols
    count=0
    l=0
    r=0
    i=0
    j=1
    while count<n:
        while i<mCols:
            if count<n:
                print(mat[l][i],end=" ")
                count+=1
                i+=1

        while j<nRows:
            if count<n:
                print(mat[j][nRows-1],end=" ")
                count+=1
                j+=1

        for i in range(mCols-2,-1,-1):
            if count<n:
                print(mat[nRows-1][i],end=" ")
                count+=1

        for j in range(nRows-2,0,-1):
            if count<n:
                print(mat[j][r],end=" ")
                count+=1
        l+=1
        r+=1
        mCols-=1
        nRows-=1
        i+=1
        j+=1

spiralPrint([[1, 2, 3,4],[18, 17, 16,6],[9, 10, 11,7],[5,2,7,8]], 4, 4)

1 2 3 4 6 7 8 7 2 5 9 18 17 16 11 10