In [1]:
print("Hello")

Hello

In [5]:
def hello():
    print("Hello World")

In [29]:
hello()

Hello World

In [ ]:
#Function with Parameter or Argument

In [37]:
def user(name, age):
    print("Name:", name, "Age:", age)

In [39]:
user("Anju",23)

Name: Anju Age: 23

In [43]:
def square(a):
    ans  = a*a
    return  ans

a = 4
a = square(a)
print(a)

16

In [67]:
def calculate_circle_area(radius):
   
    return 3.14159*radius*radius

n=float(input())
result=calculate_circle_area(n)
print(result)

 4

50.26544

In [87]:
def check_prime(num):
    for i in range(2,num):
        if num%i==0:
            return False
    return True

 3

Prime number

In [93]:
n=int(input())    
is_prime=check_prime(n)
if is_prime:
    print("Prime number")
else:
    print("Not Prime Number")

 7

Prime number

In [95]:
def functionA():
    print("Entering functionA")
    functionB()
    print("Exiting functionA")

def functionB():
    print("Entering functionB")
    functionC()
    print("Exiting functionB")

def functionC():
    print("Entering functionC")
    print("Exiting functionC")

functionA()

Entering functionA
Entering functionB
Entering functionC
Exiting functionC
Exiting functionB
Exiting functionA

In [103]:
#Prameter and Argument
def sum(a,b):
    return a-b

sum(5,4)

1

In [105]:
def sum(a,b):
    return a-b

sum(b=5,a=4)

-1

In [113]:
#default parameter:- in case user not pass or forgot to pass argument
def multi(a,b=5):
    return a*b
multi(4)

20

In [127]:
def multi(a=9,b=8):
    return a*b
multi()

72

In [ ]:
#1.args:- collection of variable arguments and dinoted by *
#2.kwargs:- collection of key value pair set of arguments and dinoted by **

In [3]:
#1.args:- collection of variable arguments and dinoted by *
def add(*number):
    print(sum(number))

add(2,5,5,7,8,6,2)

35

In [5]:
#2.kwargs:- collection of key value pair set of arguments and dinoted by **
def company(**details):
    print(details)

company(name="KBC",address="xyz")

{'name': 'KBC', 'address': 'xyz'}